@keyframes fadeIntoTop {
	from {
		opacity: 0;
		transform: translate3d(0, -20%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes fadeIntoLeft {
	from {
		opacity: 0;
		transform: translate3d(-7%, 0, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.dipp-module-custom-heading {
  &.module-heading-style-2 {
    padding-bottom: 16px;
    border-bottom: solid 1px #e5e5e5;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 55%;
      height: 10px;
      background: #8D8D8D;
    }
    .custom-heading-tag {
      font-size: 40px;
      animation: fadeIntoTop 1.2s ease-in both;
    }
  }
  .custom-heading-tag {
    padding: 0;
    font-family: "Lulo Clean";
    text-transform: uppercase;
    line-height: 1.3;
    animation: fadeIntoLeft 1.2s ease-in both;
    animation-delay: 0.3s;
    font-size: var(--size-default);

    @media (max-width: 991px) {
      font-size: var(--size-tablet);
    }

    @media (max-width: 767px) {
      font-size: var(--size-mobile);
    }
  }
}
