.pp-module-lms-course {

  .heading-text {
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    margin-left: 10%;
    padding: 20px 30px 20px 0;
    border-bottom: solid 1px #dbdbdb;
    font-size: 35px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      height: 8px;
      background: #dbdbdb;
      width: 60%;
    }
  }
}

.pp-module-lms-course {

  .pp-lms-course-list {

    &.temp__symmetrical {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px;
      align-items: center;

      .course-item {
        width: 30%;
        padding: 0 15px;
        margin-bottom: 30px;

        .post-inner {
          position: relative;

          .post-thumb {
            line-height: 0;

            a {
              display: block;

              img {
                width: 100%;
              }
            }
          }

          .post-entry {
            position: absolute;
            right: 0;
            bottom: 20px;
            width: 85%;
            padding: 10px;
            background: rgba(255,255,255,.9);
            z-index: 3;

            .post-title {
              font-size: 16px;
              font-weight: bold;
              line-height: normal;
            }

            p {
              font-size: 13px;
              line-height: normal;
            }
          }
        }

        &:nth-child(3),
        &:nth-child(4) {
          width: 40%;
        }
      }
    }
  }
}